@using Microsoft.AspNet.Identity
@using NetworkStatistics.Resources
@if (Request.IsAuthenticated)
{
    if (User.IsInRole(GlobalConstants.AdministratorRole) || User.IsInRole(GlobalConstants.BossRole))
    {
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Statistics <span class="caret"></span></a>
                <ul class="dropdown-menu" aria-labelledby="themes">
                    <li>@Html.ActionLink("fdsfds", "Index", "Users")</li>
                    <li>@Html.ActionLink("gdgfdgfd", "Index", "Users")</li>
                    <li>@Html.ActionLink("Usgfdgfders", "Index", "Users")</li>
                </ul>
            </li>
        </ul>
    }
    if (User.IsInRole(GlobalConstants.AdministratorRole))
    {
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Users <span class="caret"></span></a>
                <ul class="dropdown-menu" aria-labelledby="themes">
                    <li>@Html.ActionLink("List", "Index", "Users")</li>
                    <li>@Html.ActionLink("Create New", "Create", "Users")</li>
                </ul>
            </li>
        </ul>
    }
}

